{% extends 'base.html' %}
{% load static %}
{% block title %} {{ block.super }} {% endblock title %}

{% block content %}

    <!--========================
        Intro Skew Start
    ===========================-->
    <div id="home" class="intro route bg-image" style="background-image: url({% static 'img/banner/a.jpg' %})">
        <div class="overlay-itro"></div>
        <div class="intro-content display-table">
            <div class="table-cell">
                <div class="container">
                    <h1 class="intro-title mb-4">We are Working On</h1>
                    <p class="intro-subtitle">
                        <span class="text-slider-items">
                            Web Design - Development,
                            E-commerce Website,
                            Mobile Application,
                            Digital Marketing,
                            Graphic Design
                        </span>
                        <strong class="text-slider"></strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--/ Intro Skew End /-->


    <!--========================
        About Section Start
    ==========================-->
    <section id="about" class="aboutArea">
        <div class="container">
            <h2 class="main_title">About Us</h2>
            <div class="line-mf"></div>
            <div class="row">
                <div class="col-sm12 col-md-12 col-lg-12 col-xl-12 my-4">
                    <p class="text-justify">
                        We provide quality web and mobile application like SASS, E-commerce,
                        Portfolio website etc. We also provide Digital Marketing Service.
                        So, if you are looking for above mentioned products or service,
                        please contact us.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3 class="sub_title">Our Technology</h3>
                    <hr>
                    <p>1. Python, Django, Django Rest-framework, PostgreSQl</p>
                    <p>2. Js, React, Next.js, React Native</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img src="{% static 'img/logo/python.png' %}" alt="" width="80" height="60">
                </div>
            </div>
        </div>
    </section>
    <!--/ About Section End /-->


    <!--=======================
       Section Services Star
    ===========================-->
    <section id="service" class="serviceArea">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="main_title">Services</h2>
                    <div class="line-mf mb-4"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="service-ico">
                            <span class="ico-circle"><i class="ion-monitor"></i></span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">Web Design</h2>
                            <p class="s-description text-center">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem
                                fugiat!
                                Quia,
                                provident vitae! Magni
                                tempora perferendis eum non provident.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="service-ico">
                            <span class="ico-circle"><i class="ion-code-working"></i></span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">Web Development</h2>
                            <p class="s-description text-center">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem
                                fugiat!
                                Quia,
                                provident vitae! Magni
                                tempora perferendis eum non provident.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="service-ico">
                            <span class="ico-circle">
                                <i class="fa fa-mobile"></i>
                            </span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">Mobile App</h2>
                            <p class="s-description text-center">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem
                                fugiat!
                                Quia,
                                provident vitae! Magni
                                tempora perferendis eum non provident.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="service-ico">
                            <span class="ico-circle"><i class="fa fa-shopping-cart"></i></span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">E-commerce</h2>
                            <p class="s-description text-center">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem
                                fugiat!
                                Quia,
                                provident vitae! Magni
                                tempora perferendis eum non provident.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="service-ico">
                            <span class="ico-circle"><i class="ion-paintbrush"></i></span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">Graphic Design</h2>
                            <p class="s-description text-center">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem
                                fugiat!
                                Quia,
                                provident vitae! Magni
                                tempora perferendis eum non provident.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="service-ico">
                            <span class="ico-circle"><i class="ion-stats-bars"></i></span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">Digital Marketing</h2>
                            <p class="s-description text-center">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem
                                fugiat!
                                Quia,
                                provident vitae! Magni
                                tempora perferendis eum non provident.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ Section Services End /-->


    <!--=======================
      Counter Section Star
    ===========================-->
    <div class="section-counter paralax-mf bg-image" style="background-image: url({% static 'img/counters-bg.jpg' %})">
        <div class="overlay-mf"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-lg-3">
                    <div class="counter-box">
                        <div class="counter-ico">
                            <span class="ico-circle"><i class="ion-checkmark-round"></i></span>
                        </div>
                        <div class="counter-num">
                            <p class="counter">5</p>
                            <span class="counter-text">WORKS COMPLETED</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <div class="counter-box pt-4 pt-md-0">
                        <div class="counter-ico">
                            <span class="ico-circle"><i class="ion-ios-calendar-outline"></i></span>
                        </div>
                        <div class="counter-num">
                            <p class="counter">4</p>
                            <span class="counter-text">YEARS OF EXPERIENCE</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <div class="counter-box pt-4 pt-md-0">
                        <div class="counter-ico">
                            <span class="ico-circle"><i class="ion-ios-people"></i></span>
                        </div>
                        <div class="counter-num">
                            <p class="counter">5</p>
                            <span class="counter-text">TOTAL CLIENTS</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <div class="counter-box pt-4 pt-md-0">
                        <div class="counter-ico">
                            <span class="ico-circle"><i class="ion-ribbon-a"></i></span>
                        </div>
                        <div class="counter-num">
                            <p class="counter">3</p>
                            <span class="counter-text">AWARD WON</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ Section Counter  End /-->


    <!--===============================
    Section Portfolio Star
    =================================-->
    <section id="work" class="workArea">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="main_title">
                        Check Some Of Our Recent Work
                    </h2>
                    <p class="sub_title mb-3">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    </p>
                    <div class="line-mf mb-5"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="work-box">
                        <a href="{% static 'img/work/work-9.PNG' %}" data-lightbox="gallery-mf">
                            <div class="work-img">
                                <img src="{% static 'img/work/work-9.PNG' %}" alt="" class="img-fluid">
                            </div>
                            <div class="work-content">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h2 class="w-title">Belasea E-commerce</h2>
                                        <div class="w-more">
                                            <span class="w-ctegory">Web Design</span> / <span
                                                class="w-date">18 Sep. 2019</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="w-like">
                                            <span class="ion-ios-plus-outline"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-box">
                        <a href="{% static 'img/work/work-1.jpg' %}" data-lightbox="gallery-mf">
                            <div class="work-img">
                                <img src="{% static 'img/work/work-1.jpg' %}" alt="" class="img-fluid">
                            </div>
                            <div class="work-content">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h2 class="w-title">Portfolio Website</h2>
                                        <div class="w-more">
                                            <span class="w-ctegory">Web Design</span> / <span
                                                class="w-date">19 June. 2020</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="w-like">
                                            <span class="ion-ios-plus-outline"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-box">
                        <a href="{% static 'img/work/work-2.jpg' %}" data-lightbox="gallery-mf">
                            <div class="work-img">
                                <img src="{% static 'img/work/work-2.jpg' %}" alt="" class="img-fluid">
                            </div>
                            <div class="work-content">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h2 class="w-title">Belaface - Wholesale</h2>
                                        <div class="w-more">
                                            <span class="w-ctegory">Web Design</span> / <span
                                                class="w-date">18 Sep. 2018</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="w-like">
                                            <span class="ion-ios-plus-outline"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-box">
                        <a href="{% static 'img/work/work-4.jpg' %}" data-lightbox="gallery-mf">
                            <div class="work-img">
                                <img src="{% static 'img/work/work-4.jpg' %}" alt="" class="img-fluid">
                            </div>
                            <div class="work-content">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h2 class="w-title">Blog</h2>
                                        <div class="w-more">
                                            <span class="w-ctegory">Web Design</span> / <span
                                                class="w-date">18 Sep. 2018</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="w-like">
                                            <span class="ion-ios-plus-outline"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-box">
                        <a href="{% static 'img/work/work-5.jpg' %}" data-lightbox="gallery-mf">
                            <div class="work-img">
                                <img src="{% static 'img/work/work-5.jpg' %}" alt="" class="img-fluid">
                            </div>
                            <div class="work-content">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h2 class="w-title">Photography</h2>
                                        <div class="w-more">
                                            <span class="w-ctegory">Web Design</span> / <span
                                                class="w-date">18 Sep. 2018</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="w-like">
                                            <span class="ion-ios-plus-outline"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-box">
                        <a href="{% static 'img/work/work-6.jpg' %}" data-lightbox="gallery-mf">
                            <div class="work-img">
                                <img src="{% static 'img/work/work-6.jpg' %}" alt="" class="img-fluid">
                            </div>
                            <div class="work-content">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h2 class="w-title">Mobile Application</h2>
                                        <div class="w-more">
                                            <span class="w-ctegory">Web Design</span> / <span
                                                class="w-date">18 Sep. 2017</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="w-like">
                                            <span class="ion-ios-plus-outline"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--/ Section Portfolio End /-->


    <!--========================
     Section Testimonials Star
     ==============================/-->
    <div class="testimonials testimonials_background bg-image"
         style="background-image: url({% static 'img/counters-bg.jpg' %})">
        <div class="overlay-mf"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="testimonial-mf" class="owl-carousel owl-theme">
                        <div class="testimonial-box">
                            <div class="author-test">
                                <img src="{% static 'img/team/jibon.jpg' %}" style="height: 150px; width: 150px"
                                     alt="Oops image is missing"
                                     class="rounded-circle b-shadow-a">
                                <span class="author">Jibon Ahmed</span>
                            </div>
                            <div class="content-test">
                                <p class="description lead">
                                    Hello, there .....
                                </p>
                                <span class="comit"><i class="fa fa-quote-right"></i></span>
                            </div>
                        </div>
                        <div class="testimonial-box">
                            <div class="author-test">
                                <img src="{% static 'img/team/tasnia-farin.jpg' %}" style="height: 150px; width: 150px"
                                     alt="Oops image is missing"
                                     class="rounded-circle b-shadow-a">
                                <span class="author">Tasnia Farin</span>
                            </div>
                            <div class="content-test">
                                <p class="description lead">
                                    Hi, there ...
                                </p>
                                <span class="comit"><i class="fa fa-quote-right"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ Testimonials End -->


    <!--========================
     Section Team Star
     ==============================/-->
    <section id="team" class="team_member">
        <div class="container">
            <div class="text-center">
                <h2 class="teamTitle">Meet Our Team</h2>
                <div class="line-mf mb-5"></div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="text-center wow fadeInUp"
                         data-wow-duration="1s"
                         data-wow-delay="0.5s"
                         data-wow-offset="0">
                        <div class="our_team">
                            <div class="team_img">
                                <img src="{% static 'img/team/jibon.jpg' %}" alt="team-image"/>
                                <ul class="social">
                                    <li>
                                        <a href="/">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="team_content">
                                <h5 class="title">Jibon Ahmed</h5>
                                <p class="post">Full Stack Software Engineer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="text-center wow fadeInUp"
                         data-wow-duration="1s"
                         data-wow-delay="0.5s"
                         data-wow-offset="0">
                        <div class="our_team">
                            <div class="team_img">
                                <img src="{% static 'img/team/tasnia-farin.jpg' %}" alt="team-image"/>
                                <ul class="social">
                                    <li>
                                        <a href="/">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="team_content">
                                <h5 class="title">Tasnia Farin </h5>
                                <p class="post">Software Tester</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="text-center wow fadeInUp"
                         data-wow-duration="1s"
                         data-wow-delay="0.5s"
                         data-wow-offset="0">
                        <div class="our_team">
                            <div class="team_img">
                                <img src="{% static 'img/team/team3.jpg' %}" alt="team-image"/>
                                <ul class="social">
                                    <li>
                                        <a href="/">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="team_content">
                                <h5 class="title">Masuk Ahmed</h5>
                                <p class="post">Full Stack Software Engineer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="text-center wow fadeInUp"
                         data-wow-duration="1s"
                         data-wow-delay="0.5s"
                         data-wow-offset="0">
                        <div class="our_team">
                            <div class="team_img">
                                <img src="{% static 'img/team/anjana.png' %}" alt="team-image"/>
                                <ul class="social">
                                    <li>
                                        <a href="/">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="team_content">
                                <h5 class="title">Anjana Vakil</h5>
                                <p class="post">UI/Ux Engineer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ Team End  -->

    <!--====================
        Contact Section
    =====================-->
    <section id="contact" class="contactArea">
        <div class="container">
            <div class="sectionTitle">
                <h2>Ready to Get Started?</h2>
                <p>Your email address will not be published. Required fields are marked *</p>
            </div>
            <div class="address">
                <div class="row">
                    <div class="col-md-sm-12 col-md-6 col-lg-6 col-xl-6 mb-2  order-sm-first">
                        <iframe
                                class="googleMap mb-4 mb-lg-0"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3652.4521028732247!2d90.42527631018355!3d23.73125221362765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x47fc03bc903dfe0!2sEastern+Commercial+Complex!5e0!3m2!1sen!2sbd!4v1564505983152!5m2!1sen!2sbd"
                                frameBorder="0"
                                allowFullScreen
                        ></iframe>
                    </div>
                    <div class="col-md-sm-12 col-md-6 col-lg-6 col-xl-6 mb-2">
                        <div class="contactBox">
                            <form action="#" method="post">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 form-group mb-3">
                                        <input type="text" name="name" class="form-control" placeholder="Your Name"/>
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-group mb-3">
                                        <input type="email" name="email" class="form-control" placeholder="Your Email"/>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control" name="subject" placeholder="Subject"/>
                                </div>
                                <div class="form-group mb-3">
                                    <textarea class="form-control" name="message" rows="5"
                                              placeholder="Message"></textarea>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Send Message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





{% endblock content %}