/* ======================================
            Team section
 ========================================*/
.team_member {
    background-color: #FEFCF8;
    padding-bottom: 50px;
    overflow: hidden;
    padding-top: 100px;
}

.our_team {
    margin-bottom: 30px;
    box-shadow: 0 10px 40px -10px rgba(0, 64, 128, .09);
}

.teamTitle {
    font-family: Nunito, sans-serif;
    font-weight: 800;
    text-align: center;
}

.team_sub_title {
    font-family: Nunito, sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

.our_team .team_img {
    position: relative;
    overflow: hidden;
}

.our_team .team_img:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    bottom: -100%;
    left: 0;
    transition: all 0.3s ease 0s;
}

.our_team:hover .team_img:after {
    bottom: 0;
}

.our_team img {
    width: 100%;
    height: auto;
}

.our_team .social {
    padding: 0 0 18px 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: -100%;
    right: 10px;
    background: #ffaa17;
    border-radius: 0 0 20px 20px;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.our_team:hover .social {
    top: 0;
}

.our_team .social li a {
    display: block;
    padding: 15px;
    font-size: 15px;
    color: #232434;
}

.our_team:hover .social li a:hover {
    color: #fff;
}

.our_team .team_content {
    padding: 20px 0;
    background: #fff;
}

.our_team .title {
    font-family: Nunito, sans-serif;
    font-weight: 800;
    color: #232434;
    text-transform: capitalize;
    margin: 0 0 20px;
    position: relative;
}

.our_team .title:before {
    content: "";
    width: 25px;
    height: 1px;
    background: #ffaa17;
    position: absolute;
    bottom: -10px;
    right: 50%;
    margin-right: 9px;
    transition-duration: 0.25s;
}

.our_team .title:after {
    content: "";
    width: 25px;
    height: 1px;
    background: #ffaa17;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: 9px;
    transition-duration: 0.25s;
}

.our_team:hover .title:before,
.our_team:hover .title:after {
    width: 50px;
}

.our_team .post {
    display: inline-block;
    font-size: 15px;
    text-transform: capitalize;
    color: #7F7F7F;
}

.our_team .post:before {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #ffaa17;
    margin: 0 auto;
    position: relative;
    top: -13px;
}

@media only screen and (max-width: 990px) {
    .our_team {
        margin-bottom: 30px;
    }
}

/* ======================================
         Contact section
 ========================================*/

.contactArea {
    padding-top: 100px;
    padding-bottom: 70px;
    overflow: hidden;
    display: block;
    /*background-color: #F5F5F5;*/
    background-color: #FFFFFF;
}

.sectionTitle {
    text-align: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;
}

.subtitle {
    position: relative;
    display: block;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #ff5d22;
    font-weight: 700;
    font-size: 15px;
}

.location {
    background-color: #fff;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    height: 200px;
    border-radius: 7px;
}

.locationContent {
    margin-top: 20px;
    margin-bottom: 20px;
}

.email {
    padding: 10px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    height: 200px;
    border-radius: 7px;
}

.boxContent {
    margin-top: 20px;
}

.googleMap {
    border: 2px solid #FEFCF8;
    width: 100%;
    height: 384px;
    border-radius: 5px;
}

.contactBox {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    padding: 20px;
    border-radius: 5px;
    height: 384px;
}

.defaultBtn {
    border: none;
    position: relative;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    color: #fff;
    border-radius: 5px;
    padding: 12px 35px 12px 35px;
    font-weight: 700;
    font-size: 16px;
    background: linear-gradient(to left, #ff5d22 50%, #221638 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.defaultBtn:hover {
    border: none;
    position: relative;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    color: #fff;
    border-radius: 5px;
    background-position: left;
    padding: 12px 35px 12px 35px;
    font-weight: 700;
    font-size: 16px;
}

/* ======================================
       Footer section
 ========================================*/
.footerArea {
    background-color: #fefcf8;
    padding-top: 100px;
    position: relative;
    z-index: 1;
}

.singleFooterWidget {
    margin-bottom: 30px;
}

.footerLinksList {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.footerLinksList li {
    margin-bottom: 12px;
    color: #6b6b84;
    font-weight: 600;
}

.socialMedia ul {
    list-style-type: none;
}

.socialMedia ul li {
    display: inline;
    margin: 10px;
}

.socialMedia {
    width: 30px;
    height: 30px;
    text-align: center;
    color: #fff;
    background-color: #6b6b84;
    font-size: 18px;
    position: relative;
    border-radius: 2px;
    padding-top: 2px;
}

.socialMedia:hover {
    width: 30px;
    height: 30px;
    text-align: center;
    color: #fff;
    background-color: #FF5D22;
    font-size: 18px;
    position: relative;
    border-radius: 2px;
    padding-top: 2px;

}

.socialMedia a:hover {
    width: 30px;
    height: 30px;
    text-align: center;
    color: #fff;
    background-color: #FF5D22;
    font-size: 18px;
    position: relative;
    border-radius: 2px;
    padding-top: 2px;

}

.footerContactInfo {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.bx {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-feature-settings: normal;
    font-variant: normal;
    line-height: 1;
    display: inline-block;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.footerBottomArea {
    margin-top: 70px;
    border-top: 1px solid #f3f2ee;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footerBottomArea ul {
    text-align: right;
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.footerBottomArea ul li {
    color: #6b6b84;
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.footerBottomArea ul li:before {
    content: "";
    position: absolute;
    right: -12px;
    top: 5.6px;
    width: 1px;
    height: 14px;
    background-color: #6b6b84;
}

.footerMap {
    position: absolute;
    right: 20%;
    top: 40%;
    transform: translateY(-40%);
    z-index: -1;
    opacity: .8;
}